aside.check-issues {
    background-color: #fff5e280;
    border-color: orange;

    display: grid;
    grid-template-columns: 4em auto;
    align-items: center;
    gap: 1rem; // same as padding-left/right

    &::before {
        content: "?";

        font-weight: bold;
        font-size: 4em;
        text-align: center;

        display: block;
    }
    &.free-from-issues::before {
        content: "✓";
        color: #1a7f37;
    }
    &.has-issues::before {
        content: "⊙";
        color: orange;
    }

    & > div {
        & > p {
            // fix
            &:first-child {
                margin-top: 1em;
            }
        }
    }
}
