---
---

#graph-4 {
    & + div {
        text-align: center;

        .value {
            // 避免随值改变长度，改善拖动
            width: 4em;
            display: inline-flex;
            justify-content: center;
        }
    }
}

#graph-5 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12em);
    gap: 1em;
    place-content: center;

    & > .jxgbox {
        height: 12em;
        width: 12em;
    }
}
