---
---

#graph-4 {
    & + div {
        text-align: center;

        .value {
            // 避免随值改变长度，改善拖动
            width: 4em;
            display: inline-flex;
            justify-content: center;
        }
    }
}
