---
---

nav {
    display: flex;
    margin: auto;
    justify-content: center;

    flex-wrap: wrap;
    align-items: center;
    gap: 1em;

    .step > a,
    .all {
        box-shadow: inset 0.2em 0.2em 0.5em #159957;
        border-radius: 0.5em;
        padding: 0.5em 1em;
    }

    .step a {
        transition: box-shadow 0.2s;
        &:hover,
        &:focus {
            box-shadow: none;
        }
    }

    .all {
        padding-left: 2em;

        font-size: smaller;
        li.current {
            font-weight: bold;
        }

        li > a {
            border-radius: 0.5em;
            padding: 0.2em 1em;
            transition: box-shadow 0.2s;
            &:hover,
            &:focus {
                box-shadow: 0.2em 0.2em 0.5em #159957;
            }
        }
    }
}

strong {
    text-decoration: underline;
    color: #016834;
}
del {
    color: gray;
    text-decoration-color: black;
}

figure {
    margin: 1em auto;

    & > figcaption,
    & > figcaption > p {
        text-align: center;
        font-family: cursive;
    }
    & > .jxgbox,
    & > img {
        display: flex;
        margin: auto;
    }

    & > .jxgbox {
        height: 20em;
        max-width: 20em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &:hover {
        a {
            opacity: 1;
        }
    }

    a {
        transition: opacity 0.2s;
        opacity: 0;
        font-size: smaller;
    }
}

.shady {
    transition: 0.2s;
    filter: blur(0.2em);

    &:hover {
        filter: none;
    }
}
