---
---

@import "{{ site.theme }}";

main p {
    text-indent: 2em;
}

blockquote footer {
    text-align: right;
    font-family: cursive;
}

aside {
    border-left: solid 0.3rem;
    padding: 0 1rem;

    color: #819198;
}
aside.remark {
    background-color: #f1f8e9;
    border-color: greenyellow;
}
