---
---

@import "{{ site.theme }}";

// 排版

aside,
details {
    border-left: solid 0.3rem;
    padding: 0 1rem;
    color: #819198;

    margin: 1em 0;
}

aside {
    &.remark {
        background-color: #f6ffec80;
        border-color: greenyellow;

        &::before {
            content: "ⓘ";
        }
    }
}

details {
    background-color: #eeeeee80;
    border-color: #819198;

    & > summary:first-of-type {
        // fix #page-themes/cayman#147
        display: list-item;
    }

    summary + p {
        margin-top: 0;
    }
}

.footnotes {
    margin-top: 2em;
    border-top: 0.1em solid lightgray;
    padding-top: 0.5em;
}

// 样式

@mixin italic-or-cursive {
    &:lang(en),
    :lang(en) {
        font-style: italic;
    }
    &:not(:lang(en)),
    :not(:lang(en)) {
        font-family: cursive;
        font-style: normal;
    }
}

main p,
main li {
    font-family: serif;
}

:where(main, aside, figure, details, blockquote) > p {
    text-indent: 2em;
}

blockquote footer {
    text-align: right;
    @include italic-or-cursive()
}

a[target="_blank"]::after {
    content: "🡭";
    // font-variant-position: super;
    vertical-align: super;
    font-size: x-small;
}

em {
    @include italic-or-cursive()
}

.katex-html {
    .cjk_fallback {
        font-size: smaller;
    }
}
